@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Sets background images dynamically */
.weatherBg_clear_day {
  background-image: url("../src/img/clear_day.jpg");
}

.weatherBg_clear_night {
  background-image: url("../src/img/clear_night.jpg");
}

.weatherBg_clouds_day {
  background-image: url("../src/img/clouds_day.jpg");
}

.weatherBg_clouds_night {
  background-image: url("../src/img/clouds_night.jpg");
}

.weatherBg_rainy_day {
  background-image: url("../src/img/rain_day.jpg");
}

.weatherBg_rainy_night {
  background-image: url("../src/img/rain_night.jpg");
}

.weatherBg_snow {
  background-image: url("../src/img/bgsnow.jpg");
}

.weatherBg_thunderstorm {
  background-image: url("../src/img/thunderstorm.jpg");
}

.weatherBg_mist {
  background-image: url("../src/img/mist.jpg");
}
